/* * {
  margin: 0;
  padding: 0;
  color: #ffff;
}
nav {
  background-color: #000;
  height: 100px;
}
img {
  height: 36px;
  padding: 32px 60px;
}
.main {
  height: 100vh;
  width: 680px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 4px;
}
.content {
  margin-top: 32px;
  text-align: center;
  padding: 80px;
}
input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  border: none;
  padding: 10px;

  background-color: #121212;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#button {
  width: 300px;
  border: none;
  padding: 10px;
  background-color: #1ed760;
  border-radius: 500px;
  font-size: 400;
  font-weight: 5rem;
}
 */


#loginNav {
  background-color: black;
  padding-inline: 40px;
  height: 90px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.loginSpotify {
  height: 45px !important;
}

#LoginCont {
  display: flex;
  flex-direction: column;

  height: 100%;
  background: rgb(26, 26, 26);
  background: linear-gradient(180deg, rgba(26, 26, 26, 1) 12%, rgba(26, 26, 26, 1) 54%, rgba(0, 0, 0, 1) 100%);
}

.formLoginCont{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  

}


#login-box{
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#LogInmsg{
    color: white;
  font-size: 38px;
  letter-spacing: -0.04em;
  font-weight: bold;
  margin-bottom: 25px;
}

#mainLoginCont{
  
  border-radius: 8px;
  background-color: black;
  width: 700px;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signUpAuth{
  margin-bottom: 20px;
}

.LoginActBtn{
  background-color: transparent;
  border: 1px solid rgb(89, 89, 89);
  
  width: 300px;
  height: 40px;
  padding: 10px 5px 10px 5px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.LoginActBtn:hover{
  border: 1px solid white;
}
.line{
  border-bottom: 1px solid rgb(39, 39, 39);
  margin-bottom: 20px;
  width: 70%;
}

.Login_form{

  width: 60%;
}
.com_image{
  height: 25px;
  width: 25px;
}
.white{
  letter-spacing: .1em !important;
  color: white !important;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-input {
  display: none;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.toggle-slider:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transition: 0.4s;
}

.toggle-input:checked + .toggle-slider {
  background-color: #66bb6a;
}

.toggle-input:checked + .toggle-slider:before {
  transform: translateX(20px);
}


#login{
  margin: 40px 0px 40px 0px;
  background-color: #1ED760;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 50px;
  width: 100%;
  padding-block: 12px;
  padding-inline: 38px;
  font-size: 15px;
  border-radius: 500px;
  cursor: pointer;
}
#login:hover{
  transform: scale(1.04);
}

#forgot{
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 40px;
}

#forgot:hover{
  color: green;
}

#loadingContLogin{
  margin: 10px 0px 15px 0px;
  position: relative;
  left: 120px;
  bottom: 20px;
}

