@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: .5px;
}
.signup{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
   
   height: 100vh;
   margin: auto ;
    background-color: #000;
    border-radius: 10px;
}
.header{
    align-self: center;
    letter-spacing: -0.04em;
    text-align: center;
    line-height: 16px;
}
.signup-form{
   
    box-sizing: border-box;
    text-align: start;
    padding-top: 50px;
}

.radio{
    display: flex;
    padding: 34px 0px 12px 12px;

}

#signup{
background-color: #1ed760;
color: #000;
font-weight:550;
width: 110px;
border: none;
text-align: center;
height: 40px;
border-radius: 20px;
font-size: 15px;

margin:40px 180px  ;
}


#loadingCont{
 
   position: relative;
   top: -20px;
   right: 15px;
   margin-top: 15px;
   margin-bottom: 30px;
}

  
    
  
  #error{
 
    position: absolute;
    top: 30px;
   
    
  }
  .inputBox{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
    height: 90px;
    justify-content: space-evenly;
    
  }

  .inputName{

    padding-bottom: 5px;
  }

  .inputField{
    margin-top: 5px;
    margin-bottom: 10px;

    width: 100%;
    padding: 12px;
    
    
  }

  .validationError{
    padding-left: 5px;
    color: green;
    font-size: 12px;

  }